### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
docs/cov_html/
.tox/
.coverage
.coverage.*
.cache
coverage.xml
*,cover

# Sphinx documentation
docs/_build/

# virtualenv
.venv/
venv/
ENV/

# Javascript, web-ui
www/node_modules
www/npm-debug.log
www/pydist/bitmask_js

# vim
*.swp

# PyInstaller
pkg/pyinst/dist/
pkg/pyinst/build/
