Source: pysqlcipher
Maintainer: Kali Kaneko <kali@leap.se>
Section: python
Priority: optional
Build-Depends: python-all-dev (>= 2.6.6), libsqlcipher-dev (>=3.2.0), debhelper (>= 9), dh-python
Standards-Version: 3.9.8
Uploaders: LEAP automated build <sysdev@leap.se>
X-Python-Version: >= 2.5

Package: python-sqlcipher
Architecture: any
Depends: libsqlcipher0 (>=3.2.0), ${misc:Depends}, ${python:Depends}, ${shlibs:Depends}
Description: DB-API 2.0 interface for SQLCIPHER 3.x
 Python interface to SQLCipher
 .
 pysqlcipher is an interface to the SQLite 3.x embedded relational
 database engine. It is almost fully compliant with the Python database API
 version 2.0. At the same time, it also exposes the unique features of
 SQLCipher.
