*.pyc
dropin.cache
build/
dist/
*.egg
*.egg-info
src/_trial_temp
*.swp
*.swo
.*
!.coveragerc
!.tx
!.gitignore
!.gitattributes
bin/
core
docs/_build
include/
lib/
local/
share/
MANIFEST
twistd.pid
_trial_temp
_trial_temp.lock
